@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome to my BoardGamesWebApp</h4>
</div>
<div class="text-left">
    @Html.ActionLink("Go to Games", "Index", "games")
    <br>
    @Html.ActionLink("Go to Groups", "index", "groups")
    <br>
    @Html.ActionLink("Go to Types", "index", "types")
    <br>
    @Html.ActionLink("Go to TypeGames", "index", "typegames")
    <br>
    @Html.ActionLink("Go to Age Categories", "index", "agecategories")
    <br>
    @Html.ActionLink("Go to NOP Categories", "index", "nopcategories")
    <br>
    @Html.ActionLink("Go to Orders", "index", "orders")
    <br>
    @Html.ActionLink("Go to Items", "index", "items")
    <br>
    @Html.ActionLink("Go to Customers", "index", "customers")
    <br>
    @Html.ActionLink("Go to States", "index", "states")
    <br>
</div>